.lawyer-card {
  width: 312px;
  text-align: center;
  background: #fff;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
  position: relative;

  &:hover .lawyer-card__overlay {
    opacity: 1;
  }

  &__img {
    height: 320px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    margin-top: 24px;
    color: #222;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
  }

  &__subtitle {
    margin-top: 10px;
    margin-bottom: 24px;
    color: #222;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
    text-transform: lowercase;
  }

  &__overlay {
    opacity: 0;
    transition: 0.3s;
  }
}
