.menu {
  &__list {
    display: flex;
    gap: 32px;

    color: var(--white-color-100, #fff);
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
  }

  &__list-item {
    &:hover {
      color: var(--blue-color-100, #4f8ff0);
      text-decoration-line: underline;
    }
  }
}

@media (max-width: 1050px) {
  .menu {
    &__list {
      display: none;
    }
  }
}
