.title {
  color: --colors-black-text, #222;
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #4f8ff0;
  }

  &__highlight {
    color: var(--blue-color);
  }

  &_center {
    text-align: center;

    &::after {
      margin: 0 auto;
    }
  }
}

@media (max-width: 1105px) {
  .title {
    font-size: 24px;
  }
}

@media (max-width: 850px) {
  .title {
    font-size: 24px;

    &::after {
      margin-top: 10px;
    }
  }
}

@media (max-width: 530px) {
  .title {
    font-size: 20px;
  }
}
