@charset "UTF-8";
:root {
  --blue-color: #4F8FF0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito Sans";
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  all: unset;
}

ul {
  list-style-type: none;
}

.logo {
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 900;
  line-height: 120%;
  text-transform: lowercase;
}
.logo span {
  color: var(--blue-color-100, #4f8ff0);
  font-family: "Nunito Sans";
  font-size: 28px;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
  display: block;
}

@media (max-width: 834px) {
  .logo span {
    line-height: 120%;
  }
}
.header__top {
  background: #010101;
  height: 52px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__contacts {
  display: flex;
  gap: 24px;
}
.header__contacts-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
}
.header__btn {
  color: #4f8ff0;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}
.header__bottom {
  background: rgba(1, 1, 1, 0.76);
  height: 112px;
  position: absolute;
  width: 100%;
}

@media (max-width: 834px) {
  .header__contacts {
    gap: 16px;
  }
  .header__bottom {
    height: 84px;
  }
  .header__logo {
    font-size: 16px;
  }
  .header__logo span {
    font-size: 22px;
  }
}
@media (max-width: 620px) {
  .header__contacts-item:nth-child(2) {
    display: none;
  }
}
.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 25px;
  box-sizing: content-box;
}

@media (max-width: 850px) {
  .container {
    padding: 0 69px;
  }
}
/* @media (max-width: 620px) {
  .container {
    padding: 0 40px;
  }
} */
@media (max-width: 520px) {
  .container {
    padding: 0 23px;
  }
}
.menu__list {
  display: flex;
  gap: 32px;
  color: var(--white-color-100, #fff);
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}
.menu__list-item:hover {
  color: var(--blue-color-100, #4f8ff0);
  text-decoration-line: underline;
}

@media (max-width: 1050px) {
  .menu__list {
    display: none;
  }
}
.home {
  padding: 265px 0 268px 0;
  background-image: url("../images/bg/home_bg.webp");
  background-color: rgba(34, 34, 34, 0.64);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.home__container {
  text-align: center;
}
.home__title {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
}
.home__title span {
  display: block;
  color: var(--blue-color-100, #4f8ff0);
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}
.home__text {
  max-width: 1090px;
  margin: 0 auto;
  color: var(--white-color-100, #fff);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
.home__btn {
  margin-top: 48px;
  color: var(--white-color-100, #fff);
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
.home__btn:hover {
  border: 2px solid #4f8ff0;
  background: #fff;
  color: var(--blue-color-100, #4f8ff0);
}

@media (max-width: 834px) {
  .home {
    padding: 148px 0 100px 0;
  }
  .home__title {
    font-size: 24px;
  }
  .home__title span {
    font-size: 50px;
  }
  .home__text {
    font-size: 18px;
    line-height: 120%;
  }
}
@media (max-width: 550px) {
  .home__title {
    font-size: 18px;
  }
  .home__title span {
    font-size: 35px;
  }
}
@media (max-width: 410px) {
  .home {
    padding: 142px 0 60px 0;
  }
  .home span {
    font-size: 30px;
  }
  .home__text {
    font-size: 16px;
    line-height: 150%;
  }
}
.btn {
  padding: 16px 24px;
  border: 2px solid #4f8ff0;
  background: #4f8ff0;
  cursor: pointer;
  transition: 0.3s;
  color: var(--white-color-100, #fff);
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}
.btn:hover {
  border: 2px solid var(--blue-color-100, #4f8ff0);
  background: var(--white-color-100, #fff);
  color: var(--blue-color-100, #4f8ff0);
}
.btn_gray {
  padding: 16px 24px;
  border: 2px solid #e6e6e6;
  background: #e6e6e6;
  color: #222;
}
.btn_gray:hover {
  border: 2px solid #e6e6e6;
  background: #fff;
  color: #222;
}

.title {
  color: --colors-black-text, #222;
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #4f8ff0;
}
.title__highlight {
  color: var(--blue-color);
}
.title_center {
  text-align: center;
}
.title_center::after {
  margin: 0 auto;
}

@media (max-width: 1105px) {
  .title {
    font-size: 24px;
  }
}
@media (max-width: 850px) {
  .title {
    font-size: 24px;
  }
  .title::after {
    margin-top: 10px;
  }
}
@media (max-width: 530px) {
  .title {
    font-size: 20px;
  }
}
.subtitle {
  color: #222;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  max-width: 920px;
  margin: 0 auto;
  margin-top: 24px;
}

.services-card {
  flex: 1 0 336px;
  max-width: 412px;
  min-width: 336px;
  padding: 50px 32px;
  text-align: center;
  background: #ffffff;
  color: #222;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}
.services-card:hover {
  transform: scale(1.05); /* Запомнить! Изучить! */
  background-color: var(--blue-color);
  color: #fff;
  cursor: url(../images/icons/cursor.svg), pointer;
}
.services-card:hover .services-card__icon path {
  fill: #fff;
}
.services-card__title {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 150%;
  margin-top: 15px;
}
.services-card__desc {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1140px) {
  .services-card {
    max-width: 336px;
  }
}
@media (max-width: 1105px) {
  .services-card {
    padding: 30px 32px 40px;
  }
  .services-card__title {
    line-height: 120%;
  }
}
@media (max-width: 834px) {
  .services-card {
    flex-basis: 250px;
    min-width: 250px;
  }
}
@media (max-width: 662px) {
  .services-card {
    padding: 24x 16px 32px;
    max-width: 250px;
  }
}
.services {
  background: #f7f7f7;
  padding-top: 80px;
  padding-bottom: 80px;
}
.services__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 38px;
  margin-top: 48px;
  /*  @media (max-width: 1300px) {
    justify-content: center;
    gap: 24px;
  } */
}
.services__btn {
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}
.services__btn:hover {
  border: 2px solid #4f8ff0;
  background: #fff;
  color: var(--blue-color-100, #4f8ff0);
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}

@media (max-width: 1140px) {
  .services__cards {
    gap: 24px;
  }
}
@media (max-width: 1106px) {
  .services__cards {
    justify-content: center;
  }
}
@media (max-width: 834px) {
  .services {
    padding: 60px 0;
  }
}
@media (max-width: 661px) {
  .services__cards {
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: scroll;
    scrollbar-width: none;
  }
}
.information {
  padding-top: 80px;
  padding-bottom: 80px;
}
.information__content {
  display: flex;
  justify-content: space-between;
}
.information__description {
  color: var(--colors-black-text, #222);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 24px;
  max-width: 720px;
}
.information__buttons {
  margin-top: 16px;
  display: flex;
  gap: 24px;
}
.information__img {
  box-shadow: 9px 10px 22px -2px rgba(34, 60, 80, 0.08);
}

@media (max-width: 1350px) {
  .information {
    /*   &__content {
      justify-content: center;
    }

    &__buttons {
      justify-content: center;
    } */
  }
  .information__img {
    display: none;
  }
}
@media (max-width: 850px) {
  .information {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .information__buttons {
    margin-top: 36px;
  }
}
@media (max-width: 530px) {
  .information {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .information__buttons {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.corner {
  width: 35px;
  height: 35px;
  position: absolute;
}
.corner_lt {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  top: 20px;
  left: 20px;
}
.corner_rt {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  top: 20px;
  right: 20px;
}
.corner_lb {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  bottom: 20px;
  left: 20px;
}
.corner_rb {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  bottom: 20px;
  right: 20px;
}
.corner_small {
  width: 25px;
  height: 25px;
}
.corner_small_corner_lt_blue {
  border-top: 1px solid #4f8ff0;
  border-right: 1px solid #4f8ff0;
}
.corner_small_small_rt_blue {
  border-top: 1px solid #4f8ff0;
  border-right: 1px solid #4f8ff0;
}
.corner_small_small_lb_blue {
  border-top: 1px solid #4f8ff0;
  border-right: 1px solid #4f8ff0;
}
.corner_small_small_rb_blue {
  border-top: 1px solid #4f8ff0;
  border-right: 1px solid #4f8ff0;
}
.corner_blue {
  border-top-color: #4f8ff0;
  border-left-color: #4f8ff0;
  border-right-color: #4f8ff0;
  border-bottom-color: #4f8ff0;
}

.lawyers {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f7f7f7;
}
.lawyers__content {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  overflow-x: scroll;
  scrollbar-width: none;
}

@media (max-width: 834px) {
  .lawyers {
    padding: 60px 0;
  }
}
.lawyer-card {
  flex: 1 0 300px;
  max-width: 312px;
  min-width: 300px;
  text-align: center;
  background: #fff;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
  position: relative;
  cursor: url(../images/icons/la_hand-pointer_blue.svg), pointer;
}
.lawyer-card:hover .lawyer-card__overlay {
  opacity: 1;
}
.lawyer-card__img {
  height: 320px;
}
.lawyer-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.lawyer-card__info {
  padding: 24px 0;
}
.lawyer-card__title {
  color: #222;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
.lawyer-card__subtitle {
  margin-top: 10px;
  color: #222;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
  text-transform: lowercase;
}
.lawyer-card__overlay {
  opacity: 0;
  transition: 0.3s;
}

@media (max-width: 834px) {
  .lawyer-card {
    /*  max-width: 300px;
     min-width: 250px;
     flex-basis: 250px; */
    width: max(250px, min(300px, 64vw));
    height: 348px;
  }
  .lawyer-card__img {
    height: 235px;
  }
}
.overlay {
  inset: 0;
  position: absolute;
  padding: 84px 23px;
  background-color: #fff;
  text-align: center;
  line-height: 120%;
}
.overlay__title {
  color: #222;
  font-size: 16px;
  font-weight: 700;
}
.overlay__subtitle {
  color: #222;
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}
.overlay__desc {
  color: #000;
  font-size: 14px;
  font-weight: 300;
  margin-top: 40px;
}
.overlay__experience {
  color: #222;
  font-size: 16px;
  font-weight: 600;
  margin-top: 40px;
}

.reviews {
  padding-top: 80px;
  padding-bottom: 80px;
  background: url(../images/bg/feedback_bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.reviews__cards {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.reviews-card {
  width: 648px;
  padding: 32px;
  background: #fff;
  box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
}
.reviews-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.reviews-card__text-wrapper {
  flex-grow: 1;
}
.reviews-card__company {
  color: #222;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
}
.reviews-card__name {
  color: #222;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-top: 4px;
}
.reviews-card__desc {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.materials {
  padding-top: 80px;
  padding-bottom: 80px;
}
.materials__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.materials__btn {
  display: block;
  margin: 0 auto;
  margin-top: 48px;
}

.materials-card {
  width: 424px;
  /* при наведении на img-wrapper или title будет появляться overlay */
}
.materials-card:has(.materials-card__img-wrapper:hover, .materials-card__title:hover) .materials-card__title {
  color: #4f8ff0;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}
.materials-card:has(.materials-card__img-wrapper:hover, .materials-card__title:hover) .materials-card__overlay {
  opacity: 1;
}
.materials-card__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24.5px 0;
}
.materials-card__title {
  color: #222;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  transition: 0.3s;
  cursor: url(../images/icons/la_hand-pointer.svg), pointer;
}
.materials-card__date {
  color: #222;
  font-size: 12px;
  font-weight: 300;
  line-height: 120%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.materials-card__date::after {
  content: "";
  margin-left: 10px;
  flex-grow: 1;
  height: 1px;
  background: #f8f5f4;
}
.materials-card__desc {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}
.materials-card__img-wrapper {
  position: relative;
  height: 270px;
  cursor: url(../images/icons/la_hand-pointer.svg), pointer;
}
.materials-card__overlay {
  position: absolute;
  inset: 0;
  background: rgba(79, 143, 240, 0.4);
  opacity: 0;
  transition: 0.3s;
}
.materials-card__box {
  width: 40px;
  height: 40px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.materials-card__box img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.materials-card__img {
  width: 100%;
  height: 100%;
}

.footer__top {
  padding: 80px 0;
  background: #222;
}
.footer__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__title::after {
  margin-top: 60px;
  content: "";
  display: block;
  /* width: 1320px; */
  height: 1px;
  opacity: 0.2;
  background: #8c8c8c;
}
.footer__text {
  /*  width: 862px; */
  color: #f8f5f4;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  text-transform: lowercase;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
  margin-top: 48px;
}
.footer__bottom {
  background: #181818;
  padding: 16px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright, .footer__policy {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
.footer__policy {
  cursor: pointer;
}
.footer__policy:hover {
  color: #4f8ff0;
  text-decoration: underline;
}

@media (max-width: 1230px) {
  .footer__top {
    padding: 60px 0;
  }
  .footer__text {
    display: none;
  }
}
@media (max-width: 730px) {
  .footer__top {
    padding: 40px 0;
  }
  .footer__content {
    flex-wrap: wrap;
    margin-top: 24px;
  }
  .footer__container {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  .footer__title {
    justify-content: center;
  }
  .footer__title::after {
    margin-top: 24px;
  }
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-contacts__item {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-contacts__box {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  position: relative;
  background: #2c2c2c;
}
.footer-contacts__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-contacts__title {
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.footer-contacts__text {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

@media (max-width: 855px) {
  .footer-contacts__text {
    font-size: 14px;
  }
}
@media (max-width: 834px) {
  .footer-contacts {
    gap: 34px;
  }
}
@media (max-width: 730px) {
  .footer-contacts {
    gap: 16px;
  }
}
.footer-menu__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-menu__list-item {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.footer-menu__list-item:hover {
  color: #4f8ff0;
}

@media (max-width: 1100px) {
  .footer-menu {
    display: none;
  }
}
.footer-card {
  color: #fff;
}
.footer-card__header {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-card__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer-card__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}
.footer-card__post {
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
}
.footer-card__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 16px;
  max-width: 334px;
}
.footer-card__btn {
  margin-top: 24px;
}

@media (max-width: 730px) {
  .footer-card {
    margin-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */